{% extends 'main/base.html' %}
{% load static %}


{% block content %}
       <!--детальная карточка Клиента в виде таблицы-->
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card box-shadow h-100">
                    <div class="card-header">
                        <h4 class="card-title text-center">
                            Клиент: {{ object.first_name |title }} {{ object.last_name |title }}
                        </h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>Имя </td>
                                <td>{{ object.first_name|title }}</td>
                            </tr>
                        <tr>
                                <td>Фамилия </td>
                                <td>{{ object.last_name|title }}</td>
                            </tr>
                            <tr>
                                <td>Почта </td>
                                <td>{{ object.email }}</td>
                            </tr>
                            <tr>
                                <td>Комментарий </td>
                                <td>{{ object.comment }}</td>
                            </tr>
                            <tr>
                                <td>Владелец карточки: </td>
                                <td>{{ object.owner }}</td>
                            </tr>
                        </table>

                    </div>

                    <div class="card-footer">
                         <div class="d-flex justify-content-between align-items-center">
               <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'clients:client_list' %}" type="button" class="btn btn-sm btn-outline-secondary">К клиентам</a>

                </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
