{% load static %}
{#{% load filters %}#}

<!-- карточка сообщения-->

<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <p class="card-text">
                {{ object.title|title }}  <!-- заголовок сообщения c заглавной буквы -->
            </p>
            <p class="card-text text-muted">
                Автор: {{ object.owner }} <!-- Отображение имени автора -->
            </p>

            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'mailing:message_detail' object.pk %}" class="btn btn-sm
                        {% if object.is_published %} btn-outline-primary
                        {% else %} btn-outline-secondary
                        {% endif %}">View</a>

                     <a href="{% url 'mailing:message_edit' object.pk %}" class="btn btn-sm
                        {% if object.is_published %} btn-outline-primary
                        {% else %} btn-outline-secondary
                        {% endif %}">Edit</a>

                    <a href="{% url 'mailing:message_delete' object.pk %}" class="btn btn-sm
                        {% if object.is_active %} btn-outline-primary
                        {% else %} btn-outline-secondary
                        {% endif %}">Delete</a>
                </div>
                <small class="text-body-secondary" id="availabilityText">
                    {% if object %}
                        {% if object.is_published %} <!-- опубликованная рассылка зеленого цвета -->
                            <span style="color: green;">Опубликовано</span>
                        {% else %} <!-- не опубликованная рассылка серого цвета -->
                            <span style="color: grey;">Не опубликовано</span>
                        {% endif %}
                    {% endif %}
                </small>
            </div>
        </div>
    </div>
</div>

