{% load static %}
{#{% load filters %}#}

<!-- карточка -->

<div class="col">
    <div class="card shadow-sm">

        <div class="card-body">
            <p class="card-text">
                {% if object.first_name %}
                    {{ object.first_name|title }} <!-- имя с большой буквы -->
                {% endif %}

                {% if object.last_name %}
                    {{ object.last_name|title }} <br><!-- фамилия с большой буквы -->
                {% endif %}

                {% if object.email %}
                    {{ object.email|lower }} <!-- почта с маленькой буквы -->
                {% endif %}
                <!-- Информация о пользователе, создавшем запись -->
                <br>
                {% if object.owner %}
                    Кем создана запись: {{ object.owner }} <!-- имя пользователя -->
                {% else %}
                    Кем создана запись: Неизвестно
                {% endif %}
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'clients:client_detail' object.pk %}" class="btn btn-sm
                        {% if object.is_active %} btn-outline-primary
                        {% else %} btn-outline-secondary
                        {% endif %}">View</a>
                    {% if object.owner == user or user.is_superuser %}
                    <a href="{% url 'clients:client_edit' object.pk %}" class="btn btn-sm
                        {% if object.is_active %} btn-outline-primary
                        {% else %} btn-outline-secondary
                        {% endif %}">Edit</a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url 'clients:client_delete' object.pk %}" class="btn btn-sm
                        {% if object.is_active %} btn-outline-primary
                        {% else %} btn-outline-secondary
                        {% endif %}">Delete</a>
                    {% endif %}
                    {% if object.owner == user or user.is_superuser %}
                        {% if object.is_active %}
                            <a href="{% url 'clients:active_clients' object.pk %}"
                               class="btn btn-sm btn-outline-secondary">Deactivate</a>
                        {% else %}
                            <a href="{% url 'clients:active_clients' object.pk %}"
                               class="btn btn-sm btn-outline-primary">Activate</a>
                        {% endif %}
                    {% endif %}
                </div>
                <small class="text-body-secondary" id="availabilityText">
                    {% if object %}
                        {% if object.is_active %} <!-- активный клиент зеленого цвета -->
                            <span style="color: green;">Активный</span>
                        {% else %} <!-- не активный клиент серого цвета -->
                            <span style="color: grey;">Не активный</span>
                        {% endif %}
                    {% endif %}
                </small>
            </div>
        </div>
    </div>
</div>

